<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta property="og:title" content="นั่งทรานไซไปให้ถึงไอซ์แลนด์ [47days-74pics] T R A N S - S I 2 I C E L A N D ตอนที่๒">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.tammadoo.com/review/นั่งทรานไซไปให้ถึงไอซ์แลนด์-[47days-74pics]-T-R-A-N-S---S-I-2-I-C-E-L-A-N-D-ตอนที่๒-589acc56e1ff98006a09e235">
  <meta property="og:image" content="http://image.tammadoo.com:81/images/review/covers/thumbnails/1487222537.jpeg">
  <meta property="og:description" content="เริ่มต้นเดินทางจากจีนผ่านมองโกเลียด้วยรถไฟสายที่ยาวที่สุดในโลก Trans-Siberian Railway ไปรัสเซีย ตามล่าฝันผ่านประเทศในแถบสแกนดิเนเวียเพื่อไปดูแสงเหนือที่ประเทศ Iceland โดยเดินทางผ่าน ประเทศจีน มองโกเลีย รัสเซีย ฟินแลนด์ เอสโตเนีย สวีเดน นอร์เวย์ เดนมาร์ก และ ไอซ์แลนด์ รวมทั้งหมด 47 วัน">
  <meta property="fb:app_id" content="145210586035919"> -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>test</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
  <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#4DBA87">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="findtg">
  <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
    <% }}} %>
</head>

<body>
  <noscript>
    This is your fallback content in case JavaScript fails to load.
  </noscript>
  <div id="app"></div>
  <!-- Todo: only include in production -->
  <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
</body>
<script>
  // window.fbAsyncInit = function () {
  //   FB.init({
  //     appId: '145210586035919',
  //     autoLogAppEvents: true,
  //     xfbml: true,
  //     version: 'v2.10'
  //   });
  //   FB.AppEvents.logPageView()
  // };

  // (function (d, s, id) {
  //   var fjs = d.getElementsByTagName(s)[0]
  //   if (d.getElementById(id)) { return; }
  //   var js = d.createElement(s); js.id = id
  //   js.src = "//connect.facebook.net/en_US/sdk.js"
  //   fjs.parentNode.insertBefore(js, fjs)
  // }(document, 'script', 'facebook-jssdk'))

</script>

</html>